<footer class="footer">
    <div class="degrade-1">
        <div class="degrade-2">
            <div class="degrade-3">
                <div style=" height: 300px;"></div>
                <div class="rowPrimary">
                    <div class="column about">
                        <h3>Moto Travel Blog</h3>
                        <p>
                            Blog dedicado a compartir experiencias en dos ruedas por el mundo Lorem ipsum dolor sit,
                            amet consectetur adipisicing elit. Inventore, quod similique totam voluptates labore
                            molestiae blanditiis dolorum odio hic enim.
                        </p>
                    </div>
                    <div class="column links d-none d-md-block d-xl-none d-xxl-none">
                        <h3>Links rapidos</h3>
                        <ul>
                            <li>
                                <a href="#faq">F.A.Q</a>
                            </li>
                            <li>
                                <a href="#cookies-policy">Politica de Cookies</a>
                            </li>
                            <li>
                                <a href="#terms-of-services">Terminos de servicio</a>
                            </li>
                            <li>
                                <a href="#support">Soporte</a>
                            </li>
                            <li>
                                <a href="#careers">Apoyo</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column subscribe">
                        <h3>Suscribete</h3>
                        <div>
                            <input type="email" placeholder="Correo" class="subscribe" />
                            <button class="subscribe">Suscribirte</button>
                        </div>
                        <div class="social">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
                <div class="row copyright">
                    <p>Copyright &copy; 2022 <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i>
                        Laura
                        Caicedo | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>

</footer>