<main class="inicio">
    <div class="degrade">
        <div class="degrade-2">
            <div class="degrade-3">
                <div class="texto-inicio">
                    <p>Descubre el mundo entero en moto!</p>
                    <h1>Convierte tu viajes <br> en toda una aventura</h1>
                    <button>Conoce mas! <i class="fa-solid fa-angles-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</main>

<div class=" row sobre-nosotros">
    <div class="sobre-imagen col-lg-6">
        <img src="assets/img/image-1.jpg" alt="" style="width: 380px;">
    </div>
    <div class="col-lg-6 sobre-texto">
        <h3>Nosotros</h3>
        <p><span> Quieres viajar con tu moto pero no sabes por donde empezar?</span></p>
        <p>Este blog fue creado para todos los apasionados por recorrer en moto el mundo!. Aqui encontraras informacion
            vital a la hora de salir con tu moto. Aqui desde los mas experimentados hasta los principiantes pueden
            compartir sus historias de viaje, rutas, y tips interesantes para que no dudes mas y salgas a conocer el
            mundo!</p>
        <button>Lee mas <i class="fa-solid fa-angles-right"></i></button>
    </div>
</div>
<div class="blog row">
    <div class="img1 col-lg-12 col-md-6">
        <img src="assets/img/footer.jpg" alt="" style="width: 350px;">
    </div>
    <div class="img2">
        <img src="https://images.unsplash.com/photo-1561412226-c7c50e59a84a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80"
            alt="" style="width: 350px;">
    </div>
    <div class="img3">
        <img src="https://images.unsplash.com/photo-1499363536502-87642509e31b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="" style="width: 350px;">
    </div>
    <div class="img4">
        <img src="https://images.unsplash.com/photo-1502003148287-a82ef80a6abc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
            alt="" style="width: 350px; height: 620px;">
    </div>
    <div class="img5">
        <img src="https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt="" style="width: 350px;">
    </div>
    <div class="img6">
        <img src="assets/img/image-1.jpg" alt="" style="width: 300px;">
    </div>
    <div class="texto-blog col-lg-12 col-md-6">
        <h3>Blog Viajero</h3>
        <p>Encuentra las mejores ideas, guias e imagenes para inspirar tu viaje, cuentale a otros vajeros tus
            experiencias! <br>Constuye tu ruta a partir de las experiencias de otros viajeros, aqui encontraras miles de
            los lugares mas fascinantes del mundo donde tu y tu moto pueden llegar.</p>
        <button>Entra al blog <i class="fa-solid fa-angles-right"></i></button>
    </div>
</div>

<app-map-view></app-map-view>