.inicio {
    background-image: url("../../../assets/img/img-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.degrade {

    height: 100vh;
    box-shadow: 2px -200px 0px rgba(0, 0, 0, 2) inset;
    -webkit-box-shadow: 2px -320px 52px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 2px -200px 52px rgba(0, 0, 0, 0.5) inset;
}

.degrade-2 {
    height: 100vh;
    box-shadow: 2px -100px 52px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 2px -82px 52px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 2px -100px 52px rgba(0, 0, 0, 1) inset;

}

.degrade-3 {
    height: 100vh;
    box-shadow: -2px -82px 63px rgba(0, 0, 0, 0.9) inset;
    -webkit-box-shadow: -2px -140px 63px rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: -2px -82px 63px rgba(0, 0, 0, 0.9) inset;
}

.texto-inicio {
    font-family: 'Libre Baskerville', serif;
    position: absolute;
    top: 30%;
    left: 50px;
    color: aliceblue;
    /*font-family: 'Quicksand', sans-serif;*/
}

.texto-inicio h1 {
    font-weight: bold;
    font-size: 3em;

}

.texto-inicio p {
    font-size: 1.2em;
    position: relative;
}

.texto-inicio p::after {
    content: "";
    position: absolute;
    background-color: aliceblue;
    height: 3px;
    width: 50px;
    left: 360px;
    bottom: 10px;
}

.texto-inicio button {
    padding: 10px;
    border: none;
    background-color: #bfbd31;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.sobre-nosotros {

    background-color: black;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}

.sobre-imagen {
    display: flex;
    justify-content: end;
    padding-right: 50px;

}

.sobre-texto {
    color: aliceblue;
    text-align: justify;
}

.sobre-texto h3 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
}

.sobre-nosotros h3::before {
    content: "";
    position: absolute;
    background-color: #bfbd31;
    height: 3px;
    width: 0px;
    left: 0;
    bottom: 0;
    transition: 2s ease-in-out;
}

.sobre-nosotros h3:hover:before {
    content: "";
    position: absolute;
    background-color: #bfbd31;
    height: 3px;
    width: 250px;
    left: 0;
    bottom: 0;

}

.sobre-texto span {
    font-weight: bold;
    margin-bottom: 0;
}

.sobre-texto p {
    line-height: 1.8em;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    padding-right: 80px;
}

.sobre-texto button {
    padding: 10px 15px;
    background-color: #bfbd31;
    border: none;
    font-weight: 500;
}

.blog {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    padding-top: 200px;
    position: relative;
    padding-bottom: 150px;

}

.img1 {
    grid-column: 1 / 2;
    grid-row: 3/6;
}

.img2 {
    grid-column: 2 / 3;
    grid-row: 2/4;

}

.img3 {
    grid-column: 2 / 3;
    grid-row: 4/7;

}

.img4 {
    grid-column: 3 / 4;
    grid-row: 1/3;

}

.img5 {
    grid-column: 3 / 4;
    grid-row: 3/7;

}

.img6 {
    grid-column: 4 / 4;
    grid-row: 2/5;

}

.texto-blog {
    color: aliceblue;
    padding-left: 50px;
    position: absolute;
    left: 0;
    top: 10%;
}

.texto-blog h3 {
    font-weight: bold;
    font-size: 3em;
    cursor: pointer;
    position: relative;
    font-family: 'Libre Baskerville', serif;
}

.texto-blog h3::before {
    content: "";
    position: absolute;
    background-color: #bfbd31;
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -10px;
    transition: 1s ease-in-out;
}

.texto-blog h3:hover:before {
    content: "";
    position: absolute;
    background-color: #bfbd31;
    height: 3px;
    width: 250px;
    left: 0;
    bottom: 0;

}


.texto-blog p {
    line-height: 1.8em;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    padding-top: 20px;
}

.texto-blog button {
    padding: 10px 15px;
    background-color: #bfbd31;
    border: none;
    font-weight: 500;
}

.card-img-overlay {
    background-color: #bfbd31;
}

.card-body i {
    color: #bfbd31;
}