
.login{
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/img/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
   


}
.login::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
.container{
    position: relative;   
}

form{
    position: absolute;
   left: 50px;
    top: 100px;
    background-color: rgb(235, 232, 232);
    padding: 20px;
    border-radius: 15px;
}
label{
    color: #121c20;

}
input{
    border: 0.5px solid #959696;
    background-color: rgb(235, 232, 232);
}
.btn-dark{
    background-color: #bfbd31;
    border-radius: 10px;
    color: #121c20;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    
}
span{
    font-weight: bold;
    cursor: pointer;
}

.social{
    display: flex;
    justify-content:space-around;
    margin: 20px 0 15px 0;
}

.social i:hover{
    cursor: pointer;
    font-size: 30px;
}
/*
.frase{
    position: absolute;
    top: 100px;
    right: 40px;
    text-align: end;
    color: aliceblue;
    padding-right: 10px;
    border-right: 5px solid #bfbd31;
    
}*/
.frase h2{
    font-weight: bold;
    font-size: 3em;
}
.frase p{
    font-size: 1.2em;
}

.frase{
    position: absolute;
   bottom: 50px;
    left: 90px;
    text-align: start;
    color: aliceblue;
    padding-left: 10px;
    border-left: 5px solid #bfbd31;
}
