<div class="login">
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-dark">Log In</button>
            <p>No tienes cuenta? <span>Registrate!</span></p>
            <div class="social">
                <!--<span>Ingresa con:</span><br>-->
                <i class="fa-brands fa-facebook fa-lg" style="color: #3b5998 "></i>
                <i class="fa-brands fa-google fa-lg" style=" color: rgb(219, 68, 55);"></i>
                <i class="fa-brands fa-twitter fa-lg" style="color: #1DA1F2;"></i>
            </div>
        </form>
    </div>
    <div class="frase">
        <h2>Unete a nuestra comunidad</h2>
        <p>Unete y comparte con miles de moto viajeros tus experiencias,<br> tips o datos interesantes con toda la
            comunidad
        </p>
    </div>
</div>