<main class="row">
    <div class="portada">
        <h1>Tienda Motera</h1>
    </div>
</main>
<!--<div class="barra">
    <div class="botones">
        <div class="btn-group">
            <button type="button">
                Vestuario
            </button>
        </div>
        <div class="btn-group">
            <button type="button">
                Maletas
            </button>
        </div>
        <div class="btn-group">
            <button type="button">
                Cascos
            </button>
        </div>
        <div class="btn-group">
            <button type="button">
                Protecciones
            </button>
        </div>

    </div>
</div>-->

<div class="cascos">
    <div class="titulo row">
        <div class="col-6 casco-1 d-flex ">
            <h3 class="ps-4 mt-4 text-light">Articulos</h3>
            <button class="btn " type="submit" routerLink="/carrito">
                <img src="assets/img/shopping-bag.png" alt="" width="30px">
                <div style="font-size: 10px;" class="badge bg-success">{{totalProductos}}</div>
            </button>

        </div>
    </div>
    <div class="tarjetas row">
        <div class="card" style="width: 18rem;" *ngFor="let item of articulos">
            <a href=""><img [src]='item.image' class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h6>{{item.name}}</h6>
                <p class="card-text"> {{item.price |currency : 'USD' : 'symbol' : '1.0-0'}}</p>
                <button class="btn btn-dark" (click)="addCarrito(item)"><i
                        class="fa-solid fa-cart-arrow-down"></i></button>

            </div>
        </div>
    </div>

    <!--<section class="row marcas">
        <div class="logos col-lg-12">
            <div class="logo-1"></div>
            <div class="logo-2"></div>
            <div class="logo-3"></div>
            <div class="logo-4"></div>
        </div>
    </section>-->
    <section class="video">
        <video src="assets/img/video-1.mp4" autoplay loop></video>

    </section>