<div class="row inicio">
    <div class="degrade">
        <div class="degrade-2">
            <div class="degrade-3">
                <div class="inicio-texto">
                    <h3>Bienvenido a nuestro blog</h3>
                    <p>Aqui encontraras consejos y trucos para planificar tu aventura!</p>
                    <i class="fa-solid fa-circle-down "></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tarjetas">
    <div class="container">
        <div class="container-texto">
            <h3>Lugares Extraordinarios</h3>
            <p>Conoce las mejores rutas moteras que tienes que recorrer</p>
        </div>
        <div class="items">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card-1">
                        <img src="https://images.unsplash.com/photo-1591334605631-25af16632475?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ruta 66</h5>
                            <p class="card-text">Recorre todo Estados Unidos en una sola ruta</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-2">
                        <img src="https://images.pexels.com/photos/4596517/pexels-photo-4596517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ruta Panamericana</h5>
                            <p class="card-text">Recorre todo el continente americano en una sola ruta!</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-3">
                        <img src="https://images.pexels.com/photos/11147879/pexels-photo-11147879.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ruta de los Balcanes</h5>
                            <p class="card-text">Recorre esta hermosa peninsula desde el Adriatico hatsa Croacia</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-4">
                        <img src="https://images.pexels.com/photos/6212576/pexels-photo-6212576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ruta Oslo</h5>
                            <p class="card-text">Cabo Norte son dos palabras que todo amante de las dos ruedas desea
                                escribir en su diario de destinos alcanzados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="post">
    <div class="titulo-post">
        <h2>Ultimas publicaciones</h2>
    </div>
    <div class="cartas row">
        <div class="card bg-dark text-white articulos col-xxl-4 col-lg-4 col-md-6">
            <img src="https://images.unsplash.com/photo-1462728324690-ca22d72ddd13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">MI EXPERIENCIA CÓMO GUÍA DE VIAJES EN MOTO</h5>
                <p class="card-text">Andres Hernandez</p>
                <a href="">Leer mas.. </a>
            </div>
        </div>
        <div class="card bg-dark text-white articulos col-xxl-4  col-lg-4 col-md-6">
            <img src="https://images.pexels.com/photos/2382158/pexels-photo-2382158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">EQUIPAJE OBLIGATORIO EN TU VIAJE</h5>
                <p class="card-text">Oscar Garcia</p>
                <a href="">Leer mas..</a>
            </div>
        </div>
        <div class="card bg-dark text-white articulos col-xxl-4  col-lg-4 col-md-6">
            <img src="https://images.pexels.com/photos/8569749/pexels-photo-8569749.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Por donde empiezo mi viaje?</h5>
                <p class="card-text">Laura Velez</p>
                <a href="">Leer mas..</a>
            </div>
        </div>
        <div class="card bg-dark text-white articulos col-xxl-4  col-lg-4 col-md-6">
            <img src="https://images.pexels.com/photos/5662791/pexels-photo-5662791.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">LAS MEJORES CARRETERAS PARA RODAR</h5>
                <p class="card-text">Nestor Ospina</p>
                <a href="">Leer mas..</a>
            </div>
        </div>
        <div class="card bg-dark text-white articulos col-xxl-4  col-lg-4 col-md-6">
            <img src="https://images.pexels.com/photos/10651331/pexels-photo-10651331.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">RODAR EN INVIERNO? COMO?</h5>
                <p class="card-text">Maria Diaz</p>
                <a href="">Leer mas..</a>
            </div>
        </div>
        <div class="card bg-dark text-white articulos  col-xxl-4 col-lg-4 col-md-6">
            <img src="https://images.unsplash.com/photo-1579073881231-8951fe6173e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=920&q=80"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">MOTO TRAIL EUROPA: REVIEW</h5>
                <p class="card-text">Nicolas Peña</p>
                <a href="">Leer mas..</a>
            </div>
        </div>
    </div>
</div>